/***** Global Styles *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    /* min-height: 100vh; */
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 1120px;
}

/***** Header Styles *****/
header {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

#description {
    font-size: 1rem;
}

/***** Content Container Styles *****/

.content-container {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
}

/***** Sidebar Styles *****/
.sidebar {
    display: none;
}

.sidebar--open {
    flex-shrink: 0;
    padding: 0 1rem;
    /* border-right: 1px solid #5f4ddb; */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.col--left {
    /* text-align: right; */
    padding-right: 0.25rem;
    display: none;
}

.col--right {
    /* padding-left: 0.25rem; */
    text-align: center;
}

table {
    border-collapse: separate;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1.2rem;
}

th {
    border-top: 2px solid #5f4ddb;
    border-bottom: 2px solid #5f4ddb;
    padding: 0.5rem;
    background-color: #fff;
}

.color-list__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    border-radius: 0.25rem;
}

.color-list__btn:hover {
    background-color: #bcecaf;
}

/***** Main Styles *****/
main {
    flex: 1;
    padding: 0 1rem;
    min-width: 275px;
}

.toggle-btn {
    position: absolute;
    margin-left: -1rem;
    font-size: 2.2rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px solid #f2b292;
    padding: 0.25rem;
    cursor: pointer;
    background-color: #5f4ddb;
    transition: transform 0.5s, background-color 0.5s;
}

.toggle-btn:hover {
    transform: scale(1.2);
    background-color: #bcecaf;
    border: 2px solid #5f4ddb;
}

/*** Square Styles ***/

.display-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem 0;
    /* padding: 2rem; */
}

.square,
.square--dark {
    height: 400px;
    width: 100%;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    border-radius: 0.25rem;
    display: grid;
    place-content: center;
}

.square {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(246, 248, 145, 1) 50%,
        rgba(180, 252, 251, 1) 100%
    );
    color: #000;
}

.square--dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(11, 110, 174, 1) 0%,
        rgba(102, 5, 136, 1) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    color: #fff;
}

p {
    text-align: center;
    font-size: 3rem;
}

.icon {
    font-size: 6rem;
}

/*** Input Styles ***/

label {
    position: absolute;
    left: -99999px;
}

input[type="text"] {
    margin-top: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    font-size: 2rem;
    box-shadow: 2px 2px 5px gray;
    border: 2px solid #f2b292;
    border-radius: 0.25rem;
    outline: none;
    text-align: center;
}
